Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  modernize-avoid-bind,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-pass-by-value,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type
WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  modernize-avoid-bind,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-pass-by-value
HeaderFilterRegex: '^(include|src|test)/'
FormatStyle: file
